@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background: black;
}
.header {
    position: fixed;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo {
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    margin: 30px;
}
.nahvar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    margin: 25px;
    transition: 0.5s;

}
.nahvar a:hover{
    color: rgb(219, 12, 12);
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;

}
.home-content {
    max-width: 600px;  
}
.home-content h3:nth-last-of-type(2) {
    margin-bottom: 30px;

}
.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.home-content h3 span{
    color: rgb(211, 19, 19);

}
.home-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: -3px 0;
    color: white;

}
.home-content p {
    font-size: 16px;
    color: white;

}


.home-img img
 {
    max-width: 500px;
    opacity: 0;
    animation: image  1s ease forwards ;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    border: 2px solid #0ef;
    box-shadow: 0 0 90px #0ef;
    background-image: url(img/fabian\ scalante.jfif);
    background-size: cover;
    
   

}
.home-img img:hover{
    max-width: 500px;
    opacity: 0;
    animation: image  1s ease forwards ;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    border: 2px solid #0ef;
    box-shadow: 0 0 90px #0ef;
    background-image: url(img/fabian\ claros.jpg);
    background-size: cover;
    
    
}
.social-media a {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(117, 67, 198);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(117, 67, 198);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    box-shadow: 0 0 20px rgb(197, 125, 248);
    
}
.social-media a:hover {
    background: rgb(204, 235, 94);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(216, 77, 82);
}
.btn{
    display: inline-block;
    padding: 12px 18px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0  0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn:hover{
    background: rgb(235, 9, 9);
    box-shadow: 0 0 20px rgb(204, 93, 214);
    
}
@keyframes slideRight{
    0%{
        transform: translatey(-100px);
        opacity: 0;
    }
    100%{
        transform: translatey(0);
        opacity: 1;
    }
}
@keyframes image{
    0%{
        transform: translatex(0);
        opacity: 0;
    }
    100%{
        transform: translatey(-50px);
        opacity: 1;
    }
}
